


<h1>Posts</h1>

<% @posts.each do |post| %>
<p><%= post.title %></p>
<p><%= post.body %></p>

<% end %>

<button id="btn1" type="button" name="button">Make bill Dissapear</button>

<div id="bill">
  <img src="https://www.fillmurray.com/200/300" alt="">

</div>

<button type="button" name="button"></button>
